*{
    background-color: gainsboro;
}
.form-control {
width: 90%;
padding: 15px;
border: solid #676767;
border-radius: 10px;
background-color: #ffff;
}

.btn-btn-primary {
    width: 95%;
    padding: 18px;
    border-radius: 15px;
    font-size: 17px;
    color: #ffff;
    background-color: #4382ff;
    border: solid #000;
}

.col-sm-3-col-form-label {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}
.Footer {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.socials {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #000;
}


.container-fluid-mt-5 {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
}

footer {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.youtube {
    border-left: 6px solid black;
    height: 500px;
}

.twitter {
    border-left: 6px solid black;
    height: 500px;
}

.instagram {
    border-left: 6px solid black;
    height: 500px;
}

.vl {
    border-left: 6px solid black;
    height: 500px;
}